@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100&display=swap');
body{
    font-family:"Montserrat";
}
#wrapper{
    width:60%;
    margin:auto;
}
p{
    line-height:1.4;
}
table{
    margin:4em 0;
}
a{
    color:#ff0000;
}
a:hover, a:focus{
    color: #ce65bf;
    text-decoration: none;
    transition: color 0.5s ease;
}
h2{
    font-weight: 500;
    color:#ff0000;
    font-size:330%;
    line-height: 1.2em;
    margin:0;
}
h3 {
    font-size: 2em;
    color: #ff0000;
    font-weight: 350;
    display:block;
    margin:0;
    padding:0;
    line-height:1;
}
h3.main{
    font-weight: bold;
}
h4{
    color:#bf8ece;
    margin: 4em 0 1em 0;
    font-size: 1.2em;
}

.bold-text{
    color:#ff0000;
}
.name{
    font-weight:bold;
    color:#bf8ece;
}
.date{
    font-weight: bold;
    color:#bf8ece;
    padding:2em 0 0 0;
    margin:3em 0 0;
    font-size: smaller;
}

#utils{
    clear:both;
    margin:2em 0 0 0;
}
.btn-home {
    background-color: #ce65bf;
    border-color: #cea3af;
    color: #fff;
    transition: .5s;
}

/* Change how it looks when hovered or clicked */

.btn-home:hover {
    background-color: #ce25aa;
    border-color: #ce278e;
    color: #fff;
}

.btn-home:active {
    background-color: red;
    border-color: #ce278e;
    color: #fff;
}


hr{
    border: 2px solid #f4f5f7;
    border-radius: 5px;
    margin:2em 0;
}
.headline{
    margin:5em 0 3em 0;
}
table{
    width:100%;
    margin:0;
    padding:0;
}
table tr td{
    padding:0.5em;
    border-bottom: 1px solid #efefef;
}
td strong{
    color:#bf8ece;
}
.more a{
    font-style: italic;
    border: none;
}
.more ul{
    list-style: none;
    margin:0;
    padding:0;
}
.more ul li{
    margin: 0.2em 0;
}
.header{
    margin:2em 0;
}
canvas{
    float:left;
    height:40%;
    width:40%;
    margin:-0.5em 1em 1em 0;
}
.spacer{
    height:15%;
    width:15%;
    margin:0.5em 0;
}
.headline img{
    float:left;
    width:15%;
    height:15%;
    margin:2em 0 0 0;
}
.item{
    transition: .8s;
}
.item p{
    clear:both;
}

#footer span{
    display: block;
    text-align: center;
    margin:2em 0;
}
#footer span a{
    opacity: 0.2;
    transition: .5s;
    border:none;
}
#footer span a:hover, #footer span a:focus{
    opacity: 1;
}

#footer span img{
    margin:0 1.2em;
    height:60px;
}

@media screen and (max-width: 1300px) {
    h2{
        font-size: 300%;
    }
}
@media screen and (max-width: 992px) {
    h2{
        font-size: 250%;
    }
    canvas{
        width:300px !important;
        height:300px !important;
    }
    .headline .date{
        margin:0;
        padding:.5em 0 0 0;
    }
    .headline img{
        margin:.5em 0 0 0;
    }
    .item h3{
        font-size: 140%;
    }
    h4{
        font-size: 100%;
    }
    #wrapper{
        width:80%;
    }
}
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .item img{
        display:none;
    }
    #sketch-holder{
        display: none;
    }
    .item img{
        display:none;
    }
    h2{
        font-size: 180%;
    }
    h3{
        font-size: 120%;
    }
    .header{
        text-align: center;
    }
}